.weather-display-container {
  font-family: Arial, sans-serif;
  background-color: rgba(72, 72, 78, 0.413);

  h5{
    margin-left: 20px;
  }

  .current-weather-display-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;

    h2 {
      margin-bottom: 1rem;
    }
    .weather-info-container {
      display: flex;
      justify-content: space-around;
      width: 100%;
      margin-bottom: 1rem;

      .weather-icon-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
          width: 80px;
          height: 80px;
        }

        p {
          margin: 0.5rem 0;
        }
        .current-weather-icon {
          margin-left: 30px;
        }

        .weather-description {
          margin-left: 15px;
        }

        .temp-details-container {
          display: flex;
          align-items: center;
          margin-top: 0.5rem;

          img {
            width: 20px;
            height: 20px;
          }

          p {
            margin: 0;
          }

          .weather-forecast-down-arrow {
            margin-left: 20px;
          }
        }
      }

      .weather-details-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: -40px;

        .current-temp {
          font-weight: 500;
          font-size: 50px;
        }

        .location-icon-container {
          display: flex;
          align-items: center;
          margin-top: -50px;
          margin-left: 30px;

          .weather-location-icon {
            width: 20px;
            height: 20px;
            margin-right: 5px;
          }
        }
      }
    }
  }

  .weather-three-hour-forecast-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;

   
    .weather2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 150px;
      border-radius: 30px;
      background-color: rgba(72, 72, 78, 0.413);
      margin: 5px;
    }
  }
}
