
.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .home > * {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  
  @media (max-width: 768px) {
    .home > * {
      width: 100%;
    }
  }
  