
.quote-display-container {
    background-image: url("../../assets/images/valley-landscape-aesthetic-mountains-gradient-background-6318x2633-4589.jpg");
    background-position: center;
    background-size: cover; 
}

