
.quote-display-container {
    background-image: url("../../assets/images/valley-landscape-aesthetic-mountains-gradient-background-6318x2633-4589.jpg");
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;

    h5{
        margin-left: 20px;
      }

      .quote-text {
        text-align: center;
        margin: 120px 50px;

        @media (max-width: 768px) {
            margin: 60px 25px;
          }

        .quote-content{
            color: rgb(68, 16, 43);
            font-size: 1.2rem;
            font-weight: 500;
        }
        
        .quote-author{
            color: rgba(68, 16, 43, 0.676);
        }
      }
      
}

