/* App.scss */

.content-container {
    transition: margin-left 0.3s ease;
    margin-left: 100px; /* Navbar kapalıyken içeriğin sol kenara 50px margin ekleyin */
  }
  
  .content-container.navbar-open {
    padding-left: 150px; /* Navbar açık olduğunda içeriğin sol kenara Navbar genişliği kadar padding ekleyin */
  }

  